/* styles.css */

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
.image-container {
    position: relative;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image-container:nth-child(1) {
    background-image: url('main_ui.png');
}
.image-container:nth-child(2) {
    background-image: url('settings_dark.png');
}
.image-container:nth-child(3) {
    background-image: url('settings_white.png');
}
