/* styles.css */

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
.image-container {
    position: relative;
    height: 50vh; /* Adjusted height to fit the screen better */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; /* Changed from 'cover' to 'contain' to fit the image */
}
