/* Style the key features section */
.key-feature {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

/* Style the top navigation bar */
.top-nav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.top-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style the anchor elements */
.top-nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Add a color to the active/current link */
.top-nav ul li a.active {
  background-color: #4CAF50;
  color: white;
}

/* Style the main UI image */
.main-ui img {
  display: block;
  max-width: 110%; /* Increase the width to make the image larger */
  height: auto;
  margin: 0 auto; /* Center the image horizontally */
}

/* Style the settings-dark image */
.settings-dark img {
  display: block;
  margin: 0 auto;
}

/* Responsive styling for the navigation bar */
@media screen and (max-width: 600px) {
  .top-nav ul li {
    float: none;
  }
}
